<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andalus.abo_med7at.analyticalgeometry">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PairActivity" android:parentActivityName=".MainActivity"/>
        <activity android:name=".DrawingClass" />
        <activity android:name=".CircleActivity" android:parentActivityName=".MainActivity"/>
        <activity android:name=".ParabolaActivity" android:parentActivityName=".MainActivity"/>
        <activity android:name=".EllipseActivity" android:parentActivityName=".MainActivity"/>
        <activity android:name=".HyperbolaActivity" android:parentActivityName=".MainActivity"/>
        <activity android:name=".GeneralActivity" android:parentActivityName=".MainActivity"/>
    </application>

</manifest>